// theme colors
$primary: #A41916;
$Title: #A41916;
$secondary: #195852;
$black: #000000;
$default: #6E3A3E; // is global text color
$kpi: #FF6A00;
$section: #F6F9FF;
$bg: #FFFFFF;
$card: #b41818;
$list: #e0e0e0;
$input: #071B14; // is input background
$input-disabled: #c9cCcF; // is input-disabled background
$input-text: #7F8186;
$form: #FFFFFF;
$line: rgba(121, 116, 126, 0.35);
$error: rgba(186, 26, 26, 1);