

.background-image{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/Images/image-Background.png);
    background-position: center;

    background-size: cover;
    position: relative;
    overflow: hidden;
    //background-color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container-logo{
    
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.logo{   
    width: 224px;
}

.content {
  max-width: 498px;
    display: flex;
    margin: 100px 16px 100px 16px;
    //margin: 0 16px;
    padding: 0;
    
    flex-direction: column;
    align-items: center;
    gap: 16px;

    //background-color: #006E51;
  }

  .ContentSection{
    max-width: 530px;
  }

.Section{
    //background-color: aqua;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.Section2{
  //background-color: aqua;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.SectionPadres{
  width: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p {
  margin: 0;
}

.DescriptionButtons{
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.BackgroundVersicle{
  background-color: #F6E8E8;
  width: 100%;
  min-height: 124px;
}

.BorderVersicle{
  border: 1px solid #000000;
  border-radius: 16px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ContainerVersicle{
  margin: 0px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-top: -110px;

}
.Versicle{
  width: 70%;
  text-align: center;
  padding: 20px 20px 12px 20px;

  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000000;
}

.VersicleNum{
  width: 70%;
  text-align: center;
  padding: 0px 50px 20px 50px;

  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #00000080;
}

.Parrafo{
  width: 100%;
  text-align: center;
  padding: 0;

  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000000;
}

.Nombres{
  width: 100%;
  display: block;
  text-align: center;
  //background-color: aquamarine;
}

.StyleParrafo{
  
  text-align: center;
  padding: 0;

  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000000;
}

.StyleTitle{
  font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.StyleTitle2{
  font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    color: #A41916;
    text-align: center;
}

//Timeline
*,
*::before,
*::after {
  box-sizing: border-box;
}
.timeline {
  position: relative;
  width: 100%;
 
  margin: 0 auto;
  padding: 0;
  //background:blue;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 1px;
  background: #000000;
  top: 70px;
  bottom: 70px;
  left: 50%;
  margin-left: -1px;
}

.container {
  //padding: 15px 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  //background-color: blueviolet;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 40px;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  //background: #ffffff;
  //border: 2px solid #006E51;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  //height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #006E51;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #006E51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -75px;
}

.container.right .date {
  left: -75px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #F6D155;
  border: 2px solid #006E51;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #006E51;
  z-index: 1;
}



.container .contentCard {
  
  background:#ffffff;
  border-radius: 16px;

  width: 50%;
  display: flex;
  padding: 12px 6px;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.35);


}

.container.right .contentCard {
  //padding: 30px 30px 30px 90px;
  //border-radius: 500px 0 0 500px;
  padding: 0;
}

.container .contentCard h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #006E51;
}

.container .contentCard p {
  margin: 0;
  //font-size: 16px;
  //line-height: 22px;
  //color: #000000;
}
.TitleCard{
  width: 100%;
  color: #000;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; 
}

.StyleButton{
  width: 100%;
  padding: 7px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background: #A41916;
  color: #ffffff;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.iconStyle{
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 999px;
  background: #ffffff;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.StyleActividad{
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.ParrafoRegular14{
  color: #000000;

  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ParrafoBold14{
  color: #000;

  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ContainerImage{
  width: 50%;
 
}
.ImageTimeline{
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.35);
  border-radius: 16px;
}

.footer{
  background-color: #000000;
  width: 100%;
  max-width: 530px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -4px;
}


//Backgrounds
.BackgroundTop{
  position: absolute;
  z-index: -10;
  margin-top: -100px;
  max-width: 530px;
}
.BackgroundTop2{
  position: absolute;
  z-index: -10;
  margin-top: -160px;
  max-width: 530px;
}

.contentImageBottom{
  width: 100%;
  max-width: 530px;
  display: flex;
  justify-content: flex-end;
}

.BackgroundBottom{
  position: absolute;
  z-index: -10;
  margin-top: -400px;
  margin-right: -16px;
  max-width: 530px;
}
.BackgroundBottom2{
  position: absolute;
  z-index: -10;
  margin-top: -290px;
  max-width: 530px;
}
.contentFlores{
  width: 100%;
  max-width: 530px;
  display: flex;
  //background-color: #000000;
  height: 2px;
  justify-content: flex-end;
}

.Flores{
  position: absolute;
  z-index: -10;
  margin-top: -70px;
  margin-right: -16px;  
}

.contentFlores2{
  width: 100%;
  max-width: 530px;
  display: flex;
  //background-color: #000000;
  height: 2px;
  justify-content: flex-start;

}

.Flores2{
  position: absolute;
  z-index: 1;
  margin-top: -40px;
  margin-left: -16px;  
}

.contentFlores3{
  width: 100%;
  max-width: 530px;
  display: flex;
  //background-color: #000000;
  height: 2px;
  justify-content: center;

}

.Flores3{
  position: absolute;
  z-index: 1;
  margin-top: -10px;  
}
/*@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #006E51 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}*/